@model Softwire.WebUI.Models.Users.ProfileViewModel
@{
   
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string companyName = Settings.COMPANY_NAME;

    string action, cancel_url, buttonText, instr, glyph;
    bool isAdmin = PageData["isAdmin"];
    string roleName = PageData["roleName"];
    string roleTitle = PageData["roleTitle"];

    if (!string.IsNullOrEmpty(Model.UserId)) {
        cancel_url = Url.Action("Show", new { id = Model.User.DisplayId, roleName = roleName });
        action = "Update";
        buttonText = "Update Profile";
        instr = "Modify the details and click Update to apply changes";
        glyph = "glyphicon glyphicon-thumbs-up";
        ViewBag.Title = "Update Admin";
    }
    else {
        cancel_url = Url.Action("Index");
        action = "Create";
        buttonText = "Create " + roleTitle;
        instr = "Complete the form below and click Create to create a new " + roleTitle;
        glyph = "glyphicon glyphicon-plus";
        ViewBag.Title = "Create " + roleTitle;
    }

    // If user access, change the return url
    if (!isAdmin) {
        cancel_url = Url.Action("Index", "Account");
    }
}

<!-- Start Page Title -->
<div class="page-title-area">

    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>@ViewBag.Title</h2>
                
                <p>
                    @instr
                </p>

                @Html.Bootstrap().ActionLinkButton("Back", "Index", "Users")

            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/Content/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/Content/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/Content/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/Content/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/Content/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->


<!-- Start Quote Area -->
<section class="contact-area ptb-80">
    <div class="container">
     
        <div class="row h-100 justify-content-center align-items-center">           

            <div class="col-lg-12 col-md-12">
         
                @Html.ValidationSummary(true)
                @using (var f = Html.Bootstrap().Begin(new Form(action)))
                {
                    <div class="row">
                        <div class="col-md-6">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.UserId)
                            <fieldset>
                                <legend>Personal details</legend>
                                <div class="alert alert-warning @(roleName == "admins" ? "hide" : "")">
                                    Enter the name as it appears on the users passport
                                </div>
                                @f.FormGroup().DropDownListFor(m => m.TitleId, Model.Titles.Select(x => new SelectListItem { Value = x, Text = x })).OptionLabel("Select title")
                                @f.FormGroup().TextBoxFor(m => m.FirstName).Placeholder()
                                @f.FormGroup().TextBoxFor(m => m.LastName).Placeholder()
                                @*<div class="@(roleName == "admins" ? "hide" : "")">
                                    @f.FormGroup().EditorFor(m => m.DOB)
                                </div>*@
                            </fieldset>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <fieldset>
                                <legend>Contact details</legend>
                                @f.FormGroup().EditorFor(m => m.Phone)
                                @f.FormGroup().EditorFor(m => m.Email)
                            </fieldset>
                            <fieldset>
                                <legend>Activate user</legend>
                                <div class="alert alert-warning">
                                    Activating a user will grant them access to the system so they can use @Settings.COMPANY_ABBR services.
                                </div>
                                <div class="form-group">
                                    @Html.EditorFor(m => m.Activate)
                                </div>
                            </fieldset>
                            @*@if (isAdmin && !string.IsNullOrEmpty(Model.UserId) && Model.UserId != Model.EditUserId) {
                        <fieldset>
                            <legend>Activate user</legend>
                            <div class="alert alert-warning">
                                Activating a user will grant them access to the system so they can use @Settings.COMPANY_ABBR services.
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.Activate)
                            </div>
                        </fieldset>
                    }*@
                            @*<fieldset>
                        <legend>Branch Details</legend>
                        @f.FormGroup().DropDownListFor(m => m.BranchId, Model.Branches.Select(x => new SelectListItem { Value = x.BranchId.ToString(), Text = x.Name })).OptionLabel("Select Branch")

                    </fieldset>*@
                        </div>

                    </div>
                    <div class="form-submit">

                        @Html.Bootstrap().SubmitButton().ButtonBlock().Text(buttonText).Class("btn btn-primary account-btn")
                    </div>
                }


            </div>
        </div>
    </div>
</section>
<!-- End Quote Area -->



@section Scripts {
}

@*@section Menu {
    <li><a href="@cancel_url">Cancel <i class="fa fa-window-close"></i></a></li>
}*@
@*@section BreadcrumbLight {
@if (isAdmin) {
    <li>@Html.Bootstrap().ActionLink("Admin", "Index", "Admin")</li>
    <li>@Html.ActionLink(roleTitle, "Index")</li>
    if (!string.IsNullOrEmpty(Model.UserId)) {
        <li>@Html.ActionLink(string.Format("{0} {1}", Model.FirstName, Model.LastName), "Show", new { id = Model.User.DisplayId, roleName = roleName })</li>
        <li class="active">Edit @roleTitle</li>
    }
    else {
        <li class="active">New @roleTitle</li>
    }
}
else {
    <li class="active">User Profile</li>
}
}*@
