@using Softwire.WebUI.Infrastructure.Helpers
@model Softwire.Domain.Entities.ApplicationUser
@{
    ViewBag.Title = "Account Details";
    string roleName = PageData["roleName"];

    //bool developer = (bool)ViewBag.Developer;
    bool developer = User.IsInRole("Developer");
    var helper = new UserHelper(Model);
    string[] roles = helper.GetUserRoles();
}

<section class="contact-area ptb-80">
    <div class="container">
        <div class="section-title">          
            <h2>Account Details for @Model.FullName</h2>
            <div class="bar"></div>           
           @Html.Bootstrap().ActionLink("Edit Profile", "Edit").RouteValues(new { id = Model.DisplayId }).AppendIcon("glyphicon glyphicon-user") |  
           @Html.Bootstrap().ActionLink("Reset password", "ResetPassword").RouteValues(new { id = Model.DisplayId }).AppendIcon("fa fa-lock") |  
           @Html.Bootstrap().ActionLink("Delete User", "Delete").RouteValues(new { id = Model.DisplayId }).AppendIcon("fa fa-user-times")  |  
        </div>

        <div class="row h-100 justify-content-center align-items-center">

            <div class="col-lg-12 col-md-12">
              
                @Html.Partial("Partials/_Summary", Model)

                @if (roles.Contains("Candidate"))
                {
                    <div class="col-md-6">
                        @Html.Partial("Partials/_Referees", Model.References)
                      
                    </div>
                }

               @Html.Bootstrap().ActionLinkButton("Back", "Index", "Users")

            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/Content/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/Content/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/Content/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/Content/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/Content/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/Content/assets/img/shape2.svg" alt="shape"></div>
</section>



















@*<div class="page-header">
    <div class="container">
        <h1>Account Details for @Model.FullName</h1>
    </div>
</div>
<section class="section-light">
    <div class="container">

        <div class="row">
            <div class="col-md-6">

                @Html.Partial("Partials/_Summary", Model)

            </div>
            @if (roles.Contains("Candidate")) {
                <div class="col-md-6">

                @Html.Partial("Partials/_Referees", Model.References)    

                </div>
            }
        </div>
    </div>
</section>*@

@*@section Menu {
    <li>@Html.Bootstrap().ActionLink("Edit Profile", "Edit").RouteValues(new { id = Model.DisplayId }).AppendIcon("glyphicon glyphicon-user")</li>   
@if (roles.Contains("Candidate")) {
    <li>@Html.Bootstrap().ActionLink("Referees", "Index", "Referees").RouteValues(new { id = Model.DisplayId }).AppendIcon("fa fa-address-book")</li>
}
    <li>@Html.Bootstrap().ActionLink("Roles", "Roles").RouteValues(new { id = Model.DisplayId }).AppendIcon("fa fa-users")</li>
    <li>@Html.Bootstrap().ActionLink("Reset password", "ResetPassword").RouteValues(new { id = Model.DisplayId }).AppendIcon("fa fa-lock")</li>
    <li>@Html.Bootstrap().ActionLink("Delete User", "Delete").RouteValues(new { id = Model.DisplayId }).AppendIcon("fa fa-user-times")</li>
    @if (developer) {
        <li>
            @using (Html.BeginForm("Impersonate", "Account")) {
                @Html.AntiForgeryToken()
                @Html.Hidden("UserId", Model.Id)
                @Html.Bootstrap().SubmitButton().Text("Impersonate As User").Style(ButtonStyle.Danger).AppendIcon("glyphicon glyphicon-user")
            }
        </li>
    }
    <li>@Html.Bootstrap().ActionLink("Close", "Index").RouteValues(new { roleName = roleName }).AppendIcon("fa fa-window-close")</li>
}
@section BreadcrumbLight {
    @Html.Action("GetBreadcrumb", new { roleName = roleName, displayId = Model.DisplayId, mainAsLink = false })
}*@


