@model Softwire.WebUI.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_Console.cshtml";
}

@*<div class="jumbotron">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p>Enter your email address into the form below and click submit, you will be sent a password reset link</p>
    </div>
</div>*@

<div class="login-page">
    <div class="login-form">
        <div class="text-center">
            @*<img src="~/Content/Imgs/logo.png" class="login-logo" alt="@companyName" />*@
            <h1>@Settings.COMPANY_NAME</h1>
        </div>
        <div class="login-text">Enter your account email:</div>
        <div class="form-dark-bg">
            @using (Html.BeginForm("ForgotPassword", "Account")) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.Bootstrap().TextBoxFor(m => m.Email).Placeholder("Enter your email address").HelpText("We will send the verification link to this address, please make sure you type it correctly")
                </div>
                @Html.Bootstrap().SubmitButton().Style(ButtonStyle.Default).ButtonBlock().Text("Submit").AppendIcon("fa fa-thumbs-up")
            }
            <div class="form-footer">
                @Html.Bootstrap().ActionLink("Back to login", "Index", "Home").AppendIcon("fa fa-sign-in")
            </div>
        </div>
    </div>
</div>

@*<section class="section-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-light-bg form-container">
                    @using (var f = Html.Bootstrap().Begin(new Form("ForgotPassword").Type(FormType.Horizontal).LabelWidthMd(4).InputWidthMd(8))) {
                        <div>
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true)

                            @f.FormGroup().TextBoxFor(m => m.Email).Placeholder("Enter your email address").HelpText("We will send the verification link to this address, please make sure you type it correctly")

                            @f.FormGroup().CustomControls(Html.Bootstrap().SubmitButton().Style(ButtonStyle.Default).ButtonBlock().Text("Submit").AppendIcon("glyphicon glyphicon-thumbs-up"))
                        </div>
                    }
                    <div class="form-footer text-right">
                        @Html.Bootstrap().ActionLink("Back to login", "Login").AppendIcon("glyphicon glyphicon-log-in")
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
