@model Softwire.WebUI.Models.Account.ResetPasswordViewModel
@{
    ViewBag.Title = Model.Verb + " your password";
    Layout = "~/Views/Shared/_Console.cshtml";
    string companyName = Settings.COMPANY_NAME;
}

<h1 class="error">Reset Password</h1>
<div class="w3layouts-two-grids">
    <div class="mid-class">
        <div class="txt-left-side">
            <h2> Enter your email address and a new password into the form below and click @Model.Verb Password to apply changes </h2>
            <br /><br />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-left-to-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    @Html.Bootstrap().TextBoxFor(m => m.Email).Placeholder("Enter your email address").ShowValidationMessage(true).HtmlAttributes(new { type = "email", required = "" })

                    <div class="clear"></div>
                </div>

                <div class="form-left-to-w3l">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    @Html.Bootstrap().PasswordFor(m => m.Password).Placeholder("Enter new password").HtmlAttributes(new { autocomplete = "off", type = "password", required = "" }).ShowValidationMessage(true)

                    <div class="clear"></div>
                </div>

                <div class="form-left-to-w3l">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    @Html.Bootstrap().PasswordFor(m => m.ConfirmPassword).Placeholder("Confirm new password").HtmlAttributes(new { autocomplete = "off", type = "password", required = "" }).ShowValidationMessage(true)

                    <div class="clear"></div>
                </div>

                <div class="btnn">
                    @Html.Bootstrap().SubmitButton().ButtonBlock().Text(Model.Verb + " Password").Class("btn btn-primary account-btn")
                </div>
                
            }
        </div>

        <div class="img-right-side">
            @*<h3>Welcome To Allied Login Form</h3>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget</p>*@
            <img src="~/Content/loginAssets/images/softiwre.png" class="img-fluid" alt="logo">
            <img src="~/Content/loginAssets/images/team2.png" class="img-fluid" alt="">
        </div>

    </div>

</div>





@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
