@model Softwire.Domain.Entities.SupportRequest
@{
}


<p>Dear Softwire Systems Staff</p>
<p>Re: Notification of Support Request for <strong>@Model.ProductOrService</strong> from <strong>@Model.Organization</strong></p>
<hr />
<p><strong>Date:</strong> @Model.Date</p>
<p><strong>Description:</strong> @Model.Name</p>
<p><strong>Organization:</strong> @Model.Organization</p>
<p><strong>Phone:</strong> @Model.Phone</p>
<p><strong>Products or Services:</strong> @Model.ProductOrService</p>
<p><strong>Description:</strong> @Model.Description</p>


<hr />
<p>Yours sincerely</p>
<p><strong>@Model.Name</strong></p>
<p><strong>@Model.Email</strong></p>
<p><strong>@Model.Organization</strong></p>
